<!DOCTYPE html>
<html lang="en, th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Include Tailwind CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <form method="POST" action="/register/success">
        <div id="page1">
            <input class="border border-gray-300 rounded-md p-2 m-2" type="text" name="username" placeholder="Username" required>
            <input class="border border-gray-300 rounded-md p-2 m-2" type="password" name="password" placeholder="Password" required>
            <button class="bg-blue-500 text-white p-2 m-2 rounded-md" type="button" onclick="check_data()">ถัดไป</button>
            <button class="bg-blue-500 text-white p-2 m-2 rounded-md" type="button" onclick="goBack()">ย้อนกลับ</button>
        </div>

        <div id="page2" class="hidden">
            <input class="border border-gray-300 rounded-md p-2 m-2" type="text" name="firstname" placeholder="ชื่อ" required>
            <input class="border border-gray-300 rounded-md p-2 m-2" type="text" name="lastname" placeholder="นามสกุล" required>
            <input class="border border-gray-300 rounded-md p-2 m-2" type="text" name="email" placeholder="อีเมล" required>
            <input class="border border-gray-300 rounded-md p-2 m-2" type="text" name="phone" placeholder="เบอร์โทรศัพท์" required>
            <input class="border border-gray-300 rounded-md p-2 m-2" type="text" name="address" placeholder="ที่อยู่" required>
            <input class="border border-gray-300 rounded-md p-2 m-2" type="text" name="city" placeholder="อำเภอ" required>
            <input class="border border-gray-300 rounded-md p-2 m-2" type="text" name="country" placeholder="ประเทศ" required>
            <input class="border border-gray-300 rounded-md p-2 m-2" type="text" name="region" placeholder="จังหวัด" required>
            <input class="border border-gray-300 rounded-md p-2 m-2" type="text" name="zip" placeholder="รหัสไปรษณีย์" required>
            <select class="border border-gray-300 rounded-md p-2 m-2" name="gender" id="gender">
                <option value="Man">ผู้ชาย</option>
                <option value="Woman">ผู้หญิง</option>
                <option value="Other">อื่นๆ</option>
            </select>
            <label for="role" class="m-2">บทบาท:</label>
            <select class="border border-gray-300 rounded-md p-2 m-2" name="role" id="role">
                <option value="FarmOwner">เจ้าของฟาร์ม</option>
                <option value="Customer">ลูกค้า</option>
            </select>
            <button class="bg-blue-500 text-white p-2 m-2 rounded-md" type="button" onclick="check_data()">ถัดไป</button>
            <button class="bg-blue-500 text-white p-2 m-2 rounded-md" type="button" onclick="goBack()">ย้อนกลับ</button>
        </div>

        <div id="page3" class="hidden">
            <input class="border border-gray-300 rounded-md p-2 m-2" type="text" name="farm_name" placeholder="ชื่อฟาร์ม">
            <input class="border border-gray-300 rounded-md p-2 m-2" type="text" name="farm_email" placeholder="อีเมล">
            <input class="border border-gray-300 rounded-md p-2 m-2" type="text" name="farm_phone" placeholder="เบอร์โทรศัพท์">
            <input class="border border-gray-300 rounded-md p-2 m-2" type="text" name="farm_address" placeholder="ที่อยู่">
            <input class="border border-gray-300 rounded-md p-2 m-2" type="text" name="farm_city" placeholder="อำเภอ">
            <input class="border border-gray-300 rounded-md p-2 m-2" type="text" name="farm_country" placeholder="ประเทศ">
            <input class="border border-gray-300 rounded-md p-2 m-2" type="text" name="farm_region" placeholder="จังหวัด">
            <input class="border border-gray-300 rounded-md p-2 m-2" type="text" name="farm_zip" placeholder="รหัสไปรษณีย์">
            <button class="bg-blue-500 text-white p-2 m-2 rounded-md" type="button" onclick="check_data()">ถัดไป</button>
            <button class="bg-blue-500 text-white p-2 m-2 rounded-md" type="button" onclick="goBack()">ย้อนกลับ</button>
        </div>

        <div id="page4" class="hidden">
            <p>ลงทะเบียนเสร็จสมบูรณ์!</p>
            <button class="bg-blue-500 text-white p-2 m-2 rounded-md" type="submit" onclick="navigateNextPage()">หน้าแรก</button>
        </div>

    </form>

    <script>
        var currentPage = 1;
        var formPages = document.querySelectorAll("form > div");
        var emailInput = document.querySelector("input[name='email']");
        var phoneInput = document.querySelector("input[name='phone']");
        var zipInput = document.querySelector("input[name='zip']");
        var farm_emailInput = document.querySelector("input[name='farm_email']");
        var farm_phoneInput = document.querySelector("input[name='farm_phone']");
        var farm_zipInput = document.querySelector("input[name='farm_zip']");
        var roleSelect = document.getElementById("role");
        
        function navigateNextPage() {
            if(roleSelect.value === "Customer"){
                formPages[currentPage - 2].classList.add("hidden");
                currentPage++;
                if (currentPage <= formPages.length) {
                    formPages[currentPage - 1].classList.remove("hidden");
                }
            }
            else if (currentPage <= formPages.length) {
                formPages[currentPage - 1].classList.add("hidden");
                currentPage++;
                if (currentPage <= formPages.length) {
                    formPages[currentPage - 1].classList.remove("hidden");
                }
            }
        }
        
        function goBack() {
            if (currentPage > 1) {
                formPages[currentPage - 1].classList.add("hidden");
                currentPage--;
                formPages[currentPage - 1].classList.remove("hidden");
            } else {
                window.location.href = "/";
            }
        }

        function check_data() {

            if(currentPage === 1){
                var usernameInput = document.querySelector("input[name='username']");

                fetch(`/check-username/${usernameInput.value}`)
                    .then(response => response.json())
                    .then(data => {
                        if(data.exists){
                            alert("ชื่อผู้ใช้งานนี้มีผู้ใช้งานแล้ว");
                             // ไม่ไปหน้าถัดไปถ้าข้อมูลไม่ถูกต้อง
                        }
                        else{
                            navigateNextPage();
                        }
                    })
                    .catch(error => {
                        console.log("เกิดข้อผิดพลาดในการตรวจสอบ Username:", error);
                    });
            } else if (currentPage === 2) {
                // ตรวจสอบค่าของอีเมลและเบอร์โทรศัพท์
                if(isNaN(zipInput.value) || zipInput.value.length !== 5){
                    alert("กรุณากรอกรหัสไปรษณีย์ 5 หลัก และเป็นตัวเลข");//เช็คตัวเลข
                    return;
                }

                // ตรวจสอบค่าของบทบาทที่ผู้ใช้เลือก
                if (roleSelect.value === "Customer") {
                    currentPage = 3;
                }
                navigateNextPage();

            } else if(currentPage === 3){
                if(isNaN(farm_zipInput.value) || farm_zipInput.value.length !== 5){
                    alert("กรุณากรอกรหัสไปรษณีย์ 5 หลัก และเป็นตัวเลข");//เช็คตัวเลข
                    return;
                }
                navigateNextPage();
            }
        }
    </script>
</body>
</html>
