<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/frontend/style/home_farmmer.css" />
  </head>
  <body>
    <div class="profile">
        <div class="div">
            <div class="top">

                <!-- farm header -->
                    <img class="img_header" src="/frontend/src/img/winery home 1.png" />
                    <div class="rectangle"></div>
                    <img class="farm_logo" src="/frontend/src/img/cool pig logo 1.png" />

                    <!-- farm name -->
                    <div class="farm_name">{{user_info.farm.farm_name}}</div>

                    <!-- farm owner name -->
                    <p class="farm_owner">farm owner : {{user_info.firstName}} {{user_info.lastName}}</p>

                    <!-- manage farm button -->
                    <div class="manage_button">
                        <button class="manage_button_color"><div class="manage_button_font">manage farm</div></button>
                    </div>

                <!-- menubar -->
                <div class="bar">
                    <div class="menubar">

                        <!-- logo -->
                        <div class="website_logo">
                            <div class="logo_text">Farm Site</div>
                            <img class="logo" src="/frontend/src/img/farm.png" />
                        </div>

                        <!-- menu left -->
                        <a href="/home" class="home_menu">Home</a>
                        <a href="#" class="product_menu">Products</a>
                        <a href="#" class="farm_menu">Farms</a>

                        <!-- menu right -->
                        <a href="/logout" class="logout_menu">log out</a>
                        <img class="line" src="/frontend/src/svg/line-1.svg" />
                        <a href="/user-profile">
                            <img class="profile-user" src="/frontend/src/img/profile-user.png" />
                        </a>
                    </div>
                </div>
            </div>

            <!-- farm information -->
            <div class="farm_information">
                <div class="farm_information_bg">
                    <p class="address">Address : {{user_info.farm.location.address}} {{user_info.farm.location.city}} {{user_info.farm.country.country_name}} {{user_info.farm.region.region_name}} {{user_info.farm.location.zip}}</p>
                    <p class="phone">Phone: {{user_info.farm.farm_phone}}</p>
                    <p class="email">E-mail: {{user_info.farm.farm_email}}</p>
                </div>
            </div>
            
            <!-- search -->
                <!-- search button -->
                <div class="search_engine">
                    
                    <div class="search">
                        <button class="search_button"><div class="search_font">search</div></button>
                    </div>

                    <!-- search text -->
                    <div class="search_text">
                        <input type="text" class="search_txt" placeholder="search product"></div>
                    </div>

                    <!-- head -->
                    <div class="head">PRODUCT</div> 
                </div>   

            <!-- product box อันนี้คือมีสินค้า-->
            <!-- แบ่งคอลัมให้แล้ว 3 คอลลัม แถวก็ขึ้นอยู่กับว่ามันจัดได้กี่แถว กรอบจะเก็บได้เป็น 2x3 ที่ล้นก็มีแถบให้เลื่อนลงได้-->
            <div class="product_section">
              {% for product in products %}
              {% if product.farm_id.farm_id == user_info.farm.farm_id %}
                <!-- อันนี้คือกรอบสินค้า เวลาจะเพิ่มก็เพิ่มทั้งกล่อง-->
                {% if product.animal_code is none %}
                <div class="product_box">
                    <div class="product_img">
                        <!-- ใส่รูปตรงนี้ -->
                        
                        <img class="img" src='/get-product-image/{{ product.product_code }}' />
                    </div>
                    <div class="product_information">
                        <!-- ใส่ชื่อสินค้า -->
                        <div class="product_name">{{product.product_name}}.</div>
                        <!-- ใส่ฟาร์ม -->
                        <div class="product_farm">{{product.farm_id.farm_name}}</div>
                        <!-- ใส่ราคา-->
                        <div class="cost">{{product.product_price}} บาท</div>
                    </div>
                </div>
                {% else %}
                <div class="product_box">
                    <div class="product_img">
                        <!-- ใส่รูปตรงนี้ -->
                        
                        <img class="img" src='/get-product-image/{{ product.product_code }}' />
                    </div>
                    <div class="product_information">
                        <!-- ใส่ชื่อสินค้า -->
                        <div class="product_name">{{product.product_name}}.</div>
                        <!-- ใส่ฟาร์ม -->
                        <div class="product_farm">{{product.farm_id.farm_name}}</div>
                        <!-- ใส่ราคา-->
                        <div class="cost">{{product.product_price}} บาท</div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
              {% endfor %}
            </div>
            <!-- อันนี้คือ ยังไม่มีสินค้า ใส่ visibility: hidden; ในcss อยู่จะได้ปิดการมองเห็น-->
            {% if products == [] %}
            <div class="product_none">
                <div class="no">There are no product</div>
                <div class="ellipse">
                    <img class="searching" src="/frontend/src/img/searching 1.png" />
                </div>
            </div>
            {% endif %}
        </div>
    </div>
  </body>
</html>
