<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>manage farm</title>
  <link rel="stylesheet" href="/frontend/style/managefarm.css" />

</head>
<body>

  <!-- หน้าprofile -->
  <div class="right_page">

    <form id="updatefarm">
      <!-- หน้าprofile  -->
      <div id="profile">
        <div class="text">Farm Profile</div>
        <div class="space">
          <div>
            <div class="head_group_font">Farm Name</div>
            <input id="farm_name" type="text" class="group2 group_font" value="{{user_info.farm.farm_name}}" disabled>
          </div>
    
          <div class="box">
            <div>
              <div class="head_group_font">Phone Number</div>
              <input id="farm_phone" type="text" class="group group_font" value="{{user_info.farm.farm_phone}}" disabled>
            </div>
            <div>
              <div class="head_group_font">Email</div>
              <input id="farm_email" type="email" class="group group_font" value="{{user_info.farm.farm_email}}" disabled>
            </div>
          </div>
    
          <div>
            <div class="head_group_font">Address</div>
            <input id="farm_address" type="text" class="group2 group_font" value="{{user_info.farm.location.address}}" disabled>
          </div>
    
          <div class="box">
            <div>
              <div class="head_group_font">City</div>
              <input id="farm_city" type="text" class="group group_font" value="{{user_info.farm.location.city}}" disabled>
            </div>
            <div>
              <div class="head_group_font">Country</div>
              <input id="farm_country" type="text" class="group group_font" value="{{user_info.farm.country.country_name}}" disabled>
            </div>
          </div>
    
          <div class="box">
            <div>
              <div class="head_group_font">Region</div>
              <select id="region" class="group group_font" disabled>
                <option value="{{user_info.region.region_name}}" selected>{{user_info.region.region_name}}</option>
                <option value="Asia" >Asia</option>
                <option value="Europe" >Europe</option>
                <option value="Australia" >Australia</option>
                <option value="North America" >North America</option>
                <option value="South America" >South America</option>
                <option value="Africa" >Africa</option>
                <option value="Antarctica" >Antarctica</option>
              </select>
            </div>
            <div>
              <div class="head_group_font">Zip</div>
              <input id="farm_zip" type="text" class="group group_font" value="{{user_info.farm.location.zip}}" disabled>
            </div>
          </div>
        </div>
        <!-- ปุ่มแก้ไขข้อมูล -->

        <div class="left">
          <button id="editprofilebutton" type="button" class="edit_profile_button">edit profile</button>
        </div>

        <div class="left">
          <button id="savebutton" type="submit" class="edit_profile_button">Save</button>
        </div>

      </div>
      <input type="hidden" id="farm_id" name="farm_id" value="{{user_info.farm.farm_id}}">
    </form>


    <!-- <form id="product"> -->
      <div id="product">
        <!-- search product -->
        <div class="search">
          <div class="search_text">Product</div>
          <input type="text" placeholder="search product here" class="search_box">
          <button class="search_button">search</button>
        </div>

        <div class="detail_font">click to edit product</div>

        <!-- ใส่ product -->
        <div class="product_section">
          {% for product in products %}
          {% if product.farm_id.farm_id == user_info.farm.farm_id %}
          <div class="product_box" onclick="showProductDetail('{{ product.product_name }}', '{{ product.product_code }}', '{{ product.product_detail }}', '{{ product.product_price }}', '{{ product.quantity }}', '{{ product.product_status }}')">
            <img src="/get-product-image/{{ product.product_code }}" class="product_img">
            <div class="product_detail">
              <div class="detail_font">Product Name: {{product.product_name}}</div>
              <div class="detail_font">Product Code: {{product.product_code}}</div>
              <div class="detail_font">Detail: {{product.product_detail}}</div>
              <div class="detail_font">Price: {{product.product_price}}</div>
              <div class="detail_font">Quantity: {{product.quantity}}</div>
              <div class="detail_font">Status:{{product.product_status}}</div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        
        <!-- ปุ่มเพิ่มข้อมูล -->
        <div class="left">
          <button type="button" id="addbutton" class="add_product_button">add new product</button>
        </div>


        <!-- เปิดหน้าแก้ไข -->
        <div id="edit_product" class="edit_page">
        <form id="update_product" method="post" action="/updateproduct" enctype="multipart/form-data">
          <div class="edit_text">Edit Product</div>
          <div class="edit_box">
            <div class="content">
              <img id="editProductImage" src="" class="product_img">
              <div>
                <div class="head_group_font">Product Image</div>
                <input name="image" type="file" class="group2 group_font" required>
              </div>
              <div>
                <div class="head_group_font">Product Name</div>
                <input name="name" id="editProductNameInput" type="text" class="group2 group_font" required>
              </div>
              <div>
                <div class="head_group_font">Detail</div>
                <input name="detail" id="editProductDetailInput" type="text" class="group2 group_font" required>
              </div>
              <div class="box2">
                <div>
                  <div class="head_group_font">Price</div>
                  <input name="price" id="editProductPriceInput" type="text" class="group3 group_font" required>
                </div>
                <div>
                  <div class="head_group_font">Quantity</div>
                  <input name="quantity" id="editProductQuantityInput" type="text" class="group3 group_font" required>
                </div>
              </div>
              <div class="box3">
                <div>
                  <div class="head_group_font">Status</div>
                  <select name="status" id="editProductStatusInput" class="group group_font" required>
                    <option value="Available">Available</option>
                    <option value="Sold Out">Sold Out</option>
                  </select>
                </div>
                <div class="box4">
                  <!-- กดลบสินค้า -->
                  <button type="button" id="delete_product" class="delete_button">delete</button>
                  <!-- แก้ไขสินค้า -->
                  <button type="submit" id="save_product" class="edit_button">save</button>
                </div>
            </div>
          </div>
          <!-- กดปิดหน้า -->
          <button type="button" id="close_product_edit" class="edit_product_close">X</button>
          <input type="hidden" id="editProductCodeInput" name="product_code">
        </form>
        </div>
        </div>

        <!-- เพิ่มของใหม่ -->
        <div id="addproductpage" class="add_page">
          <form id="add_product" action="/addproduct" method="post" enctype="multipart/form-data">
          <div class="edit_text">Add New Product</div>
          <div class="edit_box">
            <div class="content">
              <div>
                <div class="head_group_font">Product Image</div>
                <input accept="image/*" name="product_image" id="product_image" type="file" class="group2 group_font" required>
              </div>
              <div>
                <div class="head_group_font">Product Name</div>
                <input name="product_name" id="product_name" type="text" class="group2 group_font" required>
              </div>
              <div>
                <div class="head_group_font">Detail</div>
                <input name="product_detail" id="product_detail" type="text" class="group2 group_font" required>
              </div>
              <div class="box2">
                <div>
                  <div class="head_group_font">Price</div>
                  <input name="product_price" id="product_price" type="text" class="group3 group_font" required>
                </div>
                <div>
                  <div class="head_group_font">Quantity</div>
                  <input name="product_quantity" id="product_quantity" type="text" class="group3 group_font" required>
                </div>
              </div>
              <div class="box3">
                <div class="box5">
                  <!-- เพิ่มสินค้า -->
                  <button type="submit" id="add_product_button" class="add_button">add product</button>
                </div>
              </div>
            </div>
          </div>
          <!-- กดปิดหน้า -->
          <button type="button" id="close_add_product" class="add_product_close">X</button>
          <input type="hidden" id="farm_id" name="farm_id" value="{{user_info.farm.farm_id}}">
      </form>
        </div>
        
      </div>
    <!-- </form> -->

    <!-- Staff -->
    <div id="staff">
      <!-- search staff -->
      <div class="search">
        <div class="search_text">Staff</div>
        <input type="text" placeholder="search staff here" class="search_box">
        <button class="search_button">search</button>
      </div>

      <div class="detail_font">click staff_id to edit</div>
      <div class="staff_section">
        <table id="staff_table" class="bordered-table">
          <thead>
            <tr>
              <th>staff_id</th>
              <th class="staff_name">Full Name</th>
              <th class="staff_job">Job</th> <!-- job_title-->
              <th class="staff_phone">phone</th>
              <th class="staff_email">email</th>
              <th class="salary">salary</th>
              <th>status</th>
            </tr>
          </thead>
          <tbody>
            {% for staff in staff %}
              {% if staff.farm_id.farm_id == user_info.farm.farm_id %}
            <tr>
            <td id="staff_id_table">{{staff.staff_id}}</td>
            <td id="staff_name_table">{{staff.firstName}} {{staff.lastName}}</td>
            <td id="staff_title_table">{{staff.job_id.job_title}}</td>
            <td id="staff_phone_table">{{staff.staff_phone}}</td>
            <td id="staff_email_table">{{staff.staff_email}}</td>
            <td id="staff_salary_table">{{staff.salary}}</td>
            <td id="staff_status_table">{{staff.status}}</td>
            <td id="staff_gender_table" style="display:none">{{staff.staff_gender}}</td>
            <td id="job_id_staff" style="display:none">{{staff.job_id.job_id}}</td>
          </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
        <!-- ปุ่มเพิ่มข้อมูล -->
        <div class="left">
          <button id="addstaffbutton" class="add_staff_button">add new staff</button>
        </div>
      </div>

      <!-- เปิดหน้าแก้ไข -->
      <div id="edit_staff" class="edit_staff_page">
        <form id="edit_staff" action="/updatestaff" method="post">
        <div class="edit_text">Edit Staff</div>
        <div class="edit_box">
          <div class="content3">
            <div class="box2">
              <div>
                <div class="head_group_font">First Name</div>
                <input name="first" id="editfirst" type="text" class="group group_font">
              </div>
              <div>
                <div class="head_group_font">Last Name</div>
                <input name="last" id="editlast" type="text" class="group group_font">
              </div>
            </div>
            <div class="box2">
              <div>
                <div class="head_group_font">Phone Number</div>
                <input name="phone" id="editphonenum" type="text" class="group group_font">
              </div>
              <div>
                <div class="head_group_font">Email</div>
                <input name="mail" id="editmail" type="email" class="group group_font">
              </div>
            </div>
            <div class="box2">
              <div>
                <div class="head_group_font">Job</div>
                <select name="editjobstaff" id="editjobstaff" class="group group_font">
                  {% for job in job %}
                  <option value="{{job.job_id}}">{{job.job_title}}</option>
                  {% endfor %}
                </select>
              </div>
              <div>
                <div class="head_group_font">Gender</div>
                <select name="gender" id="editgenderstaff" class="group group_font">
                  <option value="Female" selected>Female</option>
                  <option value="Male">Male</option>
                  <option value="Others">Others</option>
                </select>
              </div>
            </div>
            <div class="box2">
              <div>
                <div class="head_group_font">Salary</div>
                <input name="sala" id="editsalary" type="text" class="group group_font">
              </div>
              <div>
                <div class="head_group_font">Status</div>
                <select name="status" id="editstatus" class="group group_font">
                  <option value="Active" selected>Active</option>
                  <option value="Resign">Resign</option>
                </select>
              </div>
            </div>
            <div class="box2">
              <div>
                <button type="submit" id="savestafsbutton" class="save_staff_btn">save staff</button>
              </div>
            </div>
          </div>
        </div>
        <input type="hidden" id="staff_idnow" name="staff_id">
        <!-- กดปิดหน้า -->
        <button type="button" id="closeeditstaff" class="edit_staff_close">X</button>
        </form>
      </div>

      <!-- เปิดหน้าเพิ่ม staff-->
      <div id="add_staff" class="add_staff_page">
        <form id="add_staff" action="/addstaff" method="post">
        <div class="edit_text">Add New Staff</div>
        <div class="edit_box">
          <div class="content3">
            <div class="box2">
              <div>
                <div class="head_group_font">First Name</div>
                <input name="first" type="text" class="group group_font">
              </div>
              <div>
                <div class="head_group_font">Last Name</div>
                <input name="last" type="text" class="group group_font">
              </div>
            </div>
            <div class="box2">
              <div>
                <div class="head_group_font">Phone Number</div>
                <input name="phone" type="text" class="group group_font">
              </div>
              <div>
                <div class="head_group_font">Email</div>
                <input name="email" type="email" class="group group_font">
              </div>
            </div>
            <div class="box2">
              <div>
                <div class="head_group_font">Job</div>
                <select name="job" id="jobInput" class="group group_font">
                  {% for job in job %}
                  <option value="{{job.job_id}}">{{job.job_title}}</option>
                  {% endfor %}
                </select>
              </div>
              <div>
                <div class="head_group_font">Gender</div>
                <select name="gender"class="group group_font">
                  <option value="Female" selected>Female</option>
                  <option value="Male">Male</option>
                  <option value="Others">Others</option>
                </select>
              </div>
            </div>
            <div class="box2">
              <div>
                <div class="head_group_font">Salary</div>
                <input name="salary" type="text" class="group group_font">
              </div>
              <div>
                <div class="head_group_font">Hire Date</div>
                <input name="hiredate" type="date" class="group group_font">
              </div>
            </div>
            <div class="box2">
              <div class="content2">
                <button id="add_staff_button"class="add_staff_btn">add staff</button>
              </div>
            </div>
          </div>
        </div>
        <!-- กดปิดหน้า -->
        <button type="button" id="close_add_staff" class="add_staff_close">X</button>
        <input type="hidden" id="farm_id" name="farm_id" value="{{user_info.farm.farm_id}}">
        </form>
      </div>
    </div>

    <!-- jobs -->
    <div id="job">
      <!-- search job -->
      <div class="search">
        <div class="search_text">Job</div>
        <input type="text" placeholder="search job here" class="search_box">
        <button class="search_button">search</button>
      </div>
      <div class="detail_font">click job_id to edit</div>
      <div class="job_section">
        <table id= "job_table" class="bordered-table">
          <thead>
            <tr>
              <th>job_id</th>
              <th  class="job_title_table">job_title</th>
              <th  class="job_des_table">Job_description</th> <!-- job_title-->
              <th  class="job_min_table">min_salary</th>
              <th  class="job_max_table">max_salary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            {% for job in job %}
            <tr>
            <td id="job_id">{{job.job_id}}</td>
            <td id="job_ti">{{job.job_title}}</td>
            <td id="job_de">{{job.job_detail}}</td>
            <td id="job_mi">{{job.min_salary}}</td>
            <td id="job_ma">{{job.max_salary}}</td>
          </tr>
          {% endfor %}
        </tr>
        </tbody>
        </table>
        <!-- ปุ่มเพิ่มข้อมูล -->
        <div class="left">
          <button id="addjobutton" type="button" class="add_job_button">add new job</button>
        </div>
      </div>

      <!-- เปิดหน้าแก้ไข -->
      <div id= "edit_job" class="edit_job_page">
        <form id="edit_job" action="/updatejob" method="post">
        <div class="edit_text">Edit Job</div>
        <div class="edit_box">
          <div class="content">
            <div>
              <div class="head_group_font">Job</div>
              <input name="nameedit" id="nameedit" type="text" class="group group_font">
            </div>
            <div>
              <div class="head_group_font">Job Description</div>
              <input name="desedit" id="desedit" type="text" class="group2 group_font">
            </div>
            <div class="box">
              <div>
                <div class="head_group_font">Min Salary</div>
                <input name="minedit" id="minedit"type="text" class="group3 group_font">
              </div>
              <div>
                <div class="head_group_font">Max Salary</div>
                <input name="maxedit" id="maxedit" type="text" class="group3 group_font">
              </div>
            </div>
          </div>
          <div class="content2">
            <button type="submit" class="save_job_btn">save job</button>
          </div>
        </div>
        <!-- กดปิดหน้า -->
        <button type="button" id="closeeditjob" class="edit_job_close">X</button>
        <input type="hidden" id="job_id_edit" name="job_id">
        </form>
      </div>

      <!-- เปิดหน้าเพิ่ม job -->
      <div id="addjob" class="add_job_page">
        <form id="addjobform" method="post" action="/addjob">
        <div class="edit_text">Add New Job</div>
        <div class="edit_box">
          <div class="content">
            <div>
              <div class="head_group_font">Job</div>
              <input name="name" type="text" class="group group_font">
            </div>
            <div>
              <div class="head_group_font">Job Description</div>
              <input name="des" type="text" class="group2 group_font">
            </div>
            <div class="box">
              <div>
                <div class="head_group_font">Min Salary</div>
                <input name="min" type="text" class="group3 group_font">
              </div>
              <div>
                <div class="head_group_font">Max Salary</div>
                <input name="max" type="text" class="group3 group_font">
              </div>
            </div>
          </div>
          <div class="content2">
            <button type="submit" class="add_job_btn">add job</button>
          </div>
        </div>
        <!-- กดปิดหน้า -->
        <button type="button" id="closeaddbutton" class="add_job_close">X</button>
      </div>
    </form>
    </div>

    <!-- animal page -->
    <div id="animal">
      <!-- search animal -->
      <div class="search">
        <div class="search_text">Animal</div>
        <input type="text" placeholder="search animal here" class="search_box">
        <button class="search_button">search</button>
      </div>

      <div class="detail_font">click to edit animal</div>

      <!-- ใส่ animal -->
      <div class="animal_section">
        {% for animal in animal %}
        {% if animal.farm_id.farm_id == user_info.farm.farm_id %}
        <div class="animal_box" onclick="showAnimalDetail('{{ animal.animal_code }}', '{{ animal.animal_detail }}', '{{ animal.type_id,type_name }}')">
          <img src="/get-animals-image/{{animal.animal_code}}" class="animal_img" >
          <div class="product_detail">
            <div class="detail_font">Animal Code: {{animal.animal_code}}</div>
            <div class="detail_font">Animal Type: {{animal.type_id.type_name}}</div>
            <div class="detail_font">Detail: {{animal.animal_detail}}</div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <!-- ปุ่มเพิ่มข้อมูล -->
      <div class="left">
        <button id="add_animal_button" class="add_animal_button">add new animal</button>
      </div>

      <!-- เปิดหน้าแก้ไข -->
      <div id= "edit_animal" class="edit_animal_page">
        <form id="edit_animal_form" action="/updateanimal" method="post" enctype="multipart/form-data">
        <div class="edit_text">Edit Animal</div>
        <div class="edit_box">
          <div class="content">
            <img id="editAnimalImage" src="" class="animal_img">
            <div>
              <div class="head_group_font">Product Image</div>
              <input name="imageanimal" id="editAnimalImage" type="file" class="group2 group_font" required>
            </div>
            <div class="box">
              <div>
                <div class="head_group_font">Animal Code</div>
                <input name="codeanimal" id="editAnimalCodeInput" type="text" class="group3 group_font"required>
              </div>
              <div>
                <div class="head_group_font">Type</div>
                <select name="typeanimal" id="editAnimalTypeInput" class="group3 group_font" required>
                  {% for typeanimal in typeanimal %}
                  <option value="{{typeanimal.type_id}}">{{typeanimal.type_name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div>
              <div class="head_group_font">Detail</div>
              <input name="detailanimal" id="editAnimalDetailInput" type="text" class="group2 group_font">
            </div>
              <div class="box">
                <button type="button" id="delete_animal" class="delete_animal_button">delete</button>
                <button type="submit" id="saveanimal" class="edit_animal_button">save</button>
              </div>
            </div>
          </div>
          <!-- กดปิดหน้า -->
        <button type="button" id="close_editanimal_button" class="edit_animal_close">X</button>
      </form>
      </div>

      <!-- เปิดหน้าเพิ่ม -->
      <div id="add_animal" class="add_animal_page">
        <form id="add_animal_form" action="/addanimals" method="post" enctype="multipart/form-data">
        <div class="edit_text">Add Animal</div>
        <div class="edit_box">
          <div class="content">
            <div>
              <div class="head_group_font">Product Image</div>
              <input name="imageanimal" type="file" class="group2 group_font">
            </div>
            <div class="box">
              <div>
                <div class="head_group_font">Animal Code</div>
                <input name="codeanimal" type="text" class="group3 group_font">
              </div>
              <div>
                <div class="head_group_font">Type</div>
                <input name="typeanimal" type="text" class="group3 group_font">
              </div>
            </div>
            <div>
              <div class="head_group_font">Detail</div>
              <input name="detailanimal" type="text" class="group2 group_font">
            </div>
            <button type="submit" class="add_animal_btn">add animal</button>
            </div>
          </div>
          <!-- กดปิดหน้า -->
          <input type="hidden" id="farm_id" name="farm_id" value="{{user_info.farm.farm_id}}">
        <button type="button" id="close_addanimal_button" class="add_animal_close">X</button>
      </div>
    </form>
    </div>

    <!-- Orders -->
    <div id="order">
      <!-- search order -->
      <div class="search">
        <div class="search_text">Order</div>
        <input type="text" placeholder="search order here" class="search_box">
        <button class="search_button">search</button>
      </div>

      <div class="detail_font">click order_id to edit order_status</div>
      <div class="order_section">
        <table id="order_id" class="bordered-table">
          <thead>
            <tr>
              <th class="order_id_column" >order_id</th>
              <th class="product_name_column">Product Name</th>
              <th class="order_user_column">Customer</th> <!-- user_id คนที่สั่ง-->
              <th class="order_quantity_column">order_quantity</th>
              <th class="order_price_column">cost</th>
              <th class="order_date_column">order_date</th>
              <th class="order_status_column">order_status</th>
            </tr>
          </thead>
          <tbody>
            <td><a href="#">12345</a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tbody>
        </table>
      </div>

      <!-- เปิดหน้าแก้ไข -->
      <div class="order_page">
        <div class="edit_text">Order Status</div>
        <div class="edit_box">
          <div class="content">
            <div class="box">
              <div>
                <div class="head_group_font">Order_id</div>
                <input type="text" class="group3 group_font" disabled>
              </div>
              <div>
                <div class="head_group_font">Product Name</div>
                <input type="text" class="group3 group_font" disabled>
              </div>
            </div>
            <div>
              <div class="head_group_font">Customer Name</div> <!-- full name-->
              <input type="text" class="group2 group_font" disabled>
            </div>
            <div>
              <div class="head_group_font">Address</div> <!-- address + city + country + zip-->
              <input type="text" class="group2 group_font" disabled>
            </div>
            <div class="box">
              <div>
                <div class="head_group_font">Phone</div>
                <input type="text" class="group3 group_font" disabled>
              </div>
              <div>
                <div class="head_group_font">Quantity</div>
                <input type="text" class="group3 group_font" disabled>
              </div>
            </div>
            <div class="box">
              <div>
                <div class="head_group_font">Order_date</div>
                <input type="text" class="group3 group_font" disabled>
              </div>
              <div>
                <div class="head_group_font">Order_status</div>
                <select class="group3 group_font">
                  <option value="ส่งพัสดุสำเร็จ" selected>ส่งพัสดุสำเร็จ</option>
                </select>
              </div>
            </div>
            <div class="content">
              <button class="order_btn">save</button>
            </div>
          </div>
        </div>
        <!-- กดปิดหน้า -->
        <button class="order_close">X</button>
      </div>
    </div>

    </div>
  </div>


  <!-- แถบข้างขาว -->
  <div class="white_bar">
    <!-- แสดงprofile -->
    <div class="profile">
      <img class="profile-user" src="/frontend/src/img/cool-pig-logo-1.png" />
      <!-- ชื่อ ฟาร์ม -->
      <div class="profile_font">{{user_info.farm.farm_name}}</div>
    </div>

    <!-- กดเพื่อไปหน้าแก้ไขข้อมูลProfile -->
    <div id="editprofile" class="edit profile_edit">
        <div class="white_text white_menu_font">Profile</div>
    </div>

    <!-- กดเพื่อไปหน้าแก้ไขรหัสผ่าน -->
    <div id="editproduct" class="edit product_edit">
        <div class="white_text white_menu_font">Products</div>
    </div>

    <!-- กดเพื่อไปหน้าแก้ไขพนักงาน -->
    <div id="staffprofile" class="edit staff_edit">
        <div class="white_text white_menu_font">Staffs</div>
    </div> 

    <!-- กดเพื่อไปหน้าแก้ไขงาน -->
    <div id="editjob" class="edit job_edit">
      <div class="white_text white_menu_font">Jobs</div>
    </div> 

    <!-- กดเพื่อไปหน้าแก้ไขสัตว์ -->
    <div id="editanimal" class="edit animal_edit">
      <div class="white_text white_menu_font">Animals</div>
    </div> 

    <!-- กดเพื่อไปหน้าแก้ไขออเดอร์ -->
    <div id="editorder" class="edit order_edit">
      <div class="white_text white_menu_font">Orders</div>
    </div> 
    
  </div>

  <!-- menubar -->
  <div class="menubar">
      
    <!-- menu left -->
    <a href="/home" class="home_menu menu_font">Home</a>
    <a href="/product" class="product_menu menu_font">Products</a>
    <a href="/farm" class="farm_menu menu_font">Farms</a>

    <!-- logo -->
    <div class="website_logo">
      <div class="logo_text menu_font">Farm Site</div>
      <img class="logo" src="/frontend/src/img/farm.png" />
    </div>

    <!-- menu right -->
    <a href="/logout" class="logout_menu menu_font">log out</a>
    <img class="line" src="/frontend/src/svg/line-1.svg" />
    
    <a href="/user-profile">
        <img class="profile-user-menu" src="/frontend/src/img/profile-user.png" />
    </a>
  </div>

<script>
  const edit_profile_page = document.getElementById("editprofile");
  const edit_product_page = document.getElementById("editproduct");
  const edit_staff_page = document.getElementById("staffprofile");
  const edit_job_page = document.getElementById("editjob");
  const edit_animal_page = document.getElementById("editanimal");
  const edit_order_page = document.getElementById("editorder");
  const editprofilebutton = document.getElementById("editprofilebutton");
  const saveprofilebutton = document.getElementById("savebutton");
  const update_farm = document.getElementById("updatefarm");
  const addbutton = document.getElementById("addbutton");
  const add_product_page = document.getElementById("addproductpage");
  const close_add_product = document.getElementById("close_add_product");
  const add_product = document.getElementById("add_product");
  const fileInput = document.getElementById('product_image');
  const close_product_edit = document.getElementById("close_product_edit");
  const edit_product = document.getElementById("edit_product");
  const delete_product = document.getElementById("delete_product");
  const addjobbutton = document.getElementById("addjobutton");
  const addjob = document.getElementById("addjob");
  const closeaddbutton = document.getElementById("closeaddbutton");
  const edit_job = document.getElementById("edit_job");
  const jobTable = document.getElementById('job_table');
  const closeeditjob = document.getElementById("closeeditjob");
  const add_staff_button = document.getElementById("addstaffbutton");
  const add_staff = document.getElementById("add_staff");
  const close_add_staff = document.getElementById("close_add_staff");
  const jobSelect = document.getElementById('jobInput');
  const staffTable = document.getElementById('staff_table');
  const closeeditstaff = document.getElementById("closeeditstaff");
  const edit_staff = document.getElementById("edit_staff");
  const add_animal_button = document.getElementById("add_animal_button");
  const add_animal = document.getElementById("add_animal");
  const close_addanimal_button = document.getElementById("close_addanimal_button");
  const edit_animal = document.getElementById("edit_animal");
  const close_editanimal_button = document.getElementById("close_editanimal_button");
  const delete_animal = document.getElementById("delete_animal");


  addbutton.addEventListener("click", function() {
    add_product_page.style.display = "block";
  });

  update_farm.addEventListener('submit', function(e) {
    e.preventDefault();
    const formData = {
      farm_name: document.getElementById('farm_name').value,
      address: document.getElementById('farm_address').value,
      city: document.getElementById('farm_city').value,
      country: document.getElementById('farm_country').value,
      zip: document.getElementById('farm_zip').value,
      phone: document.getElementById('farm_phone').value,
      email: document.getElementById('farm_email').value,
      region: document.getElementById('region').value,
      farm_id: document.getElementById('farm_id').value,
    }
    if(formData["phone"].length != 10 || isNaN(formData["phone"])){
      alert("กรุณากรอกเบอร์โทรศัพท์ให้ครบ 10 หลัก");
      window.location.reload();
    }
    if(formData["zip"].length != 5 || isNaN(formData["zip"])){
      alert("กรุณากรอกรหัสไปรษณีย์ให้ครบ 5 หลัก");
      window.location.reload();
    }
    if(!formData["email"].includes("@") || checkEmail(formData["email"]) === false){
      alert("กรุณากรอกอีเมล");
      window.location.reload();
    }
    
    fetch('/updatefarm', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(formData)
    }).then(response => response.json())
    .then(data => {
      alert(data.message);
      if (data.message === 'อัปเดตข้อมูลผู้ใช้สำเร็จ') {
        window.location.reload();
      }
       else {
        alert('Update failed')
      }
    })
    .catch(err => {
      console.error(err)
    });
  });

  function checkEmail(email) {

    var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
    function capitalizeFirstLetter(value) {
        return value.charAt(0).toUpperCase() + value.slice(1).toLowerCase();
    }

    if (emailPattern.test(email)) {
        return true;
    } else {
        return false;
    }
  }

  function toggleButtons() {
    if (editprofilebutton.style.display !== 'none') {
      editprofilebutton.style.display = 'none';
      saveprofilebutton.style.display = 'block';
    } else {
      editprofilebutton.style.display = 'block';
      saveprofilebutton.style.display = 'none';
    }
  }

  editprofilebutton.addEventListener("click", function() {
    // ให้หา element ทุกตัวที่มี class "group" และ "group_font" แล้วยกเลิกสถานะ disabled
    const inputElements = document.querySelectorAll(".group");
    const selectElements = document.querySelectorAll(".group_font");

    inputElements.forEach(function(input) {
      input.removeAttribute("disabled");
    });

    selectElements.forEach(function(select) {
      select.removeAttribute("disabled");
    });
    toggleButtons()
    // เมื่อแก้ไขเสร็จแล้วสามารถเพิ่มโค้ดเพิ่มเติมเพื่อปิดการแก้ไขอีกครั้ง
  });

  saveprofilebutton.addEventListener("click", function() {
    // ให้หา element ทุกตัวที่มี class "group" และ "group_font" แล้วยกเลิกสถานะ disabled
    const inputElements = document.querySelectorAll(".group");
    const selectElements = document.querySelectorAll(".group_font");
    
    inputElements.forEach(function(input) {
      input.setAttribute("disabled", "true");
    });

    selectElements.forEach(function(select) {
      select.setAttribute("disabled", "true");
    });
    toggleButtons()
    // เมื่อแก้ไขเสร็จแล้วสามารถเพิ่มโค้ดเพิ่มเติมเพื่อปิดการแก้ไขอีกครั้ง
  });

  edit_profile_page.addEventListener("click", () => {
    document.getElementById("profile").style.display = "inline-grid";
    document.getElementById("product").style.display = "none";
    document.getElementById("staff").style.display = "none";
    document.getElementById("job").style.display = "none";
    document.getElementById("animal").style.display = "none";
    document.getElementById("order").style.display = "none";
    edit_profile_page.style.backgroundColor = "#FFE4BB";
    edit_product_page.style.backgroundColor = null;
    edit_staff_page.style.backgroundColor = null;
    edit_job_page.style.backgroundColor = null;
    edit_animal_page.style.backgroundColor = null;
    edit_order_page.style.backgroundColor = null;
  });

  edit_product_page.addEventListener("click",()=>{
    document.getElementById("profile").style.display = "none";
    document.getElementById("product").style.display = "flex";
    document.getElementById("staff").style.display = "none";
    document.getElementById("job").style.display = "none";
    document.getElementById("animal").style.display = "none";
    document.getElementById("order").style.display = "none";
    edit_profile_page.style.backgroundColor = null;
    edit_product_page.style.backgroundColor = "#FFE4BB";
    edit_staff_page.style.backgroundColor = null;
    edit_job_page.style.backgroundColor = null;
    edit_animal_page.style.backgroundColor = null;
    edit_order_page.style.backgroundColor = null;
  });

  edit_staff_page.addEventListener("click",()=>{
    document.getElementById("profile").style.display = "none";
    document.getElementById("product").style.display = "none";
    document.getElementById("staff").style.display = "flex";
    document.getElementById("job").style.display = "none";
    document.getElementById("animal").style.display = "none";
    document.getElementById("order").style.display = "none";
    edit_profile_page.style.backgroundColor = null;
    edit_product_page.style.backgroundColor = null;
    edit_staff_page.style.backgroundColor = "#FFE4BB";
    edit_job_page.style.backgroundColor = null;
    edit_animal_page.style.backgroundColor = null;
    edit_order_page.style.backgroundColor = null;
  });

  edit_animal_page.addEventListener("click",()=>{
    document.getElementById("profile").style.display = "none";
    document.getElementById("product").style.display = "none";
    document.getElementById("staff").style.display = "none";
    document.getElementById("job").style.display = "none";
    document.getElementById("animal").style.display = "flex";
    document.getElementById("order").style.display = "none";
    edit_profile_page.style.backgroundColor = null;
    edit_product_page.style.backgroundColor = null;
    edit_staff_page.style.backgroundColor = null;
    edit_job_page.style.backgroundColor = null;
    edit_animal_page.style.backgroundColor = "#FFE4BB";
    edit_order_page.style.backgroundColor = null;
  });

  edit_job_page.addEventListener("click",()=>{
    document.getElementById("profile").style.display = "none";
    document.getElementById("product").style.display = "none";
    document.getElementById("staff").style.display = "none";
    document.getElementById("job").style.display = "flex";
    document.getElementById("animal").style.display = "none";
    document.getElementById("order").style.display = "none";
    edit_profile_page.style.backgroundColor = null;
    edit_product_page.style.backgroundColor = null;
    edit_staff_page.style.backgroundColor = null;
    edit_job_page.style.backgroundColor = "#FFE4BB";
    edit_animal_page.style.backgroundColor = null;
    edit_order_page.style.backgroundColor = null;
  });

  edit_order_page.addEventListener("click",()=>{
    document.getElementById("profile").style.display = "none";
    document.getElementById("product").style.display = "none";
    document.getElementById("staff").style.display = "none";
    document.getElementById("job").style.display = "none";
    document.getElementById("animal").style.display = "none";
    document.getElementById("order").style.display = "flex";
    edit_profile_page.style.backgroundColor = null;
    edit_product_page.style.backgroundColor = null;
    edit_staff_page.style.backgroundColor = null;
    edit_job_page.style.backgroundColor = null;
    edit_animal_page.style.backgroundColor = null;
    edit_order_page.style.backgroundColor = "#FFE4BB";
  });

  close_add_product.addEventListener("click",()=>{
    add_product_page.style.display = "none";
  });

  function showProductDetail(name, code, detail, price, quantity, status) {
    // ในส่วนนี้คุณสามารถทำอะไรก็ได้กับข้อมูลสินค้าที่คุณได้รับ
    // ตัวอย่าง: แสดงข้อมูลในหน้าแก้ไข
    document.getElementById('editProductNameInput').value = name;
    document.getElementById('editProductDetailInput').value = detail;
    document.getElementById('editProductPriceInput').value = price;
    document.getElementById('editProductQuantityInput').value = quantity;
    document.getElementById('editProductCodeInput').value = code;

    var productImageElement = document.getElementById('editProductImage');
    productImageElement.src = '/get-product-image/' + code;
    // เรียกใช้งานหน้าแก้ไขหรือแสดงโมดอัพ
    // ตัวอย่าง: แสดงหน้าแก้ไข

    var statusSelectElement = document.getElementById('editProductStatusInput');
    for (var i = 0; i < statusSelectElement.options.length; i++) {
      if (statusSelectElement.options[i].value === status) {
        statusSelectElement.options[i].selected = true;
        break;
    }
  }
    edit_product.style.display = 'block';
  }
  
  function showAnimalDetail(code, detail, type) {
    // ในส่วนนี้คุณสามารถทำอะไรก็ได้กับข้อมูลสินค้าที่คุณได้รับ
    // ตัวอย่าง: แสดงข้อมูลในหน้าแก้ไข
    document.getElementById('editAnimalCodeInput').value = code;
    document.getElementById('editAnimalDetailInput').value = detail;
    var animalImageElement = document.getElementById('editAnimalImage');
    animalImageElement.src = '/get-animals-image/' + code;
    // เรียกใช้งานหน้าแก้ไขหรือแสดงโมดอัพ
    // ตัวอย่าง: แสดงหน้าแก้ไข
    var statusSelectElement = document.getElementById('editAnimalTypeInput');
    for (var i = 0; i < statusSelectElement.options.length; i++) {
      if (statusSelectElement.options[i].value === type) {
        statusSelectElement.options[i].selected = true;
        break;
    }
    edit_animal.style.display = 'block';
  }
}

  close_product_edit.addEventListener("click",()=>{
    edit_product.style.display = 'none';
  });

  delete_product.addEventListener('click', function() {
    // แสดงกล่องยืนยันการลบ
    if (confirm("คุณต้องการลบสินค้านี้ใช่หรือไม่?")) {
      var productCode = document.getElementById('editProductCodeInput').value;

    // ส่งคำขอลบไปยังเซิร์ฟเวอร์
    fetch('/deleteproduct/' + productCode, {
        method: 'post'
    })
    .then(response => {
        if (response.ok) {
            // ถ้าลบสำเร็จ โหลดหน้าใหม่หรือทำสิ่งที่คุณต้องการ
            window.location.reload();
        } else {
            alert('เกิดข้อผิดพลาดในการลบสินค้า');
        }
    })
    .catch(error => {
        console.error('เกิดข้อผิดพลาดในการส่งคำขอ: ', error);
    });
        }
    });
  
  addjobbutton.addEventListener("click",()=>{
    addjob.style.display = "block";
  });

  closeaddbutton.addEventListener("click",()=>{
    addjob.style.display = "none";
  });

  jobTable.addEventListener('click', (event) => {
  const target = event.target;
  
  // ตรวจสอบว่าคลิกที่เซลล์ข้อมูลของแถว
  if (target.tagName === 'TD') {
    // แสดงหน้าแก้ไข
    edit_job.style.display = 'block';
    
    // นำข้อมูลจากแถวที่คลิกมาแสดงในหน้าแก้ไข
    const row = target.parentElement;
    const jobId = row.querySelector('#job_id').textContent; // ใช้ '#job_id'
    const jobTitle = row.querySelector('#job_ti').textContent; // ใช้ '#job_ti'
    const jobDescription = row.querySelector('#job_de').textContent; // ใช้ '#job_de'
    const minSalary = row.querySelector('#job_mi').textContent; // ใช้ '#job_mi'
    const maxSalary = row.querySelector('#job_ma').textContent;
    
    // นำข้อมูลไปแสดงในฟิลด์ที่เหมาะสมในหน้าแก้ไข
    const jobInput = document.getElementById('nameedit');
    const jobDescriptionInput = document.getElementById('desedit');
    const minSalaryInput = document.getElementById('minedit');
    const maxSalaryInput = document.getElementById('maxedit');
    const job_id = document.getElementById('job_id_edit');
    
    jobInput.value = jobTitle;
    jobDescriptionInput.value = jobDescription;
    minSalaryInput.value = minSalary;
    maxSalaryInput.value = maxSalary;
    job_id.value = jobId;
  }
  });
  
  closeeditjob.addEventListener("click",()=>{
    edit_job.style.display = 'none';
  });

  add_staff_button.addEventListener("click",()=>{
    add_staff.style.display = "block";
  });

  close_add_staff.addEventListener("click",()=>{
    add_staff.style.display = "none";
  });

  staffTable.addEventListener('click', (event) => {
  const target = event.target;
  
  // ตรวจสอบว่าคลิกที่เซลล์ข้อมูลของแถว
  if (target.tagName === 'TD') {
    // แสดงหน้าแก้ไข
    edit_staff.style.display = 'block';
    
    // นำข้อมูลจากแถวที่คลิกมาแสดงในหน้าแก้ไข
    const row = target.parentElement;
    const staffNameElement = row.querySelector('#staff_name_table').textContent;
    const [firstName, lastName] = staffNameElement.split(' ');
    const staffEmail = row.querySelector('#staff_email_table').textContent; // ใช้ '#job_ti'
    const staffPhone = row.querySelector('#staff_phone_table').textContent; // ใช้ '#job_de'
    const staffStatus = row.querySelector('#staff_status_table').textContent;
    const staffSalary = row.querySelector('#staff_salary_table').textContent;
    const staffId = row.querySelector('#staff_id_table').textContent;
    const staffGender = row.querySelector('#staff_gender_table').textContent;
    const job_id = row.querySelector('#job_id_staff').textContent;

    
      
    
    // นำข้อมูลไปแสดงในฟิลด์ที่เหมาะสมในหน้าแก้ไข
    const Name = document.getElementById('editfirst');
    const Email = document.getElementById('editmail');
    const Phone = document.getElementById('editphonenum');
    const last = document.getElementById('editlast');
    const gender = document.getElementById('editgenderstaff');
    const status = document.getElementById('editstatus');
    const salary = document.getElementById('editsalary');
    const job = document.getElementById('editjobstaff');
    const staff_id = document.getElementById('staff_idnow');

    Name.value = firstName;
    last.value = lastName;
    Email.value = staffEmail;
    Phone.value = staffPhone;
    gender.value = staffGender;
    status.value = staffStatus;
    salary.value = staffSalary;
    job.value = job_id;
    staff_id.value = staffId;
  }
  });
  
  closeeditstaff.addEventListener("click",()=>{
    edit_staff.style.display = 'none';
  });

  add_animal_button.addEventListener("click",()=>{
    add_animal.style.display = "block";
  });

  close_addanimal_button.addEventListener("click",()=>{
    add_animal.style.display = "none";
  });

  close_editanimal_button.addEventListener("click",()=>{
    edit_animal.style.display = "none";
  });

  delete_animal.addEventListener('click', function() {
    // แสดงกล่องยืนยันการลบ
    if (confirm("คุณต้องการลบสัตว์นี้ใช่หรือไม่?")) {
      var animalCode = document.getElementById('editAnimalCodeInput').value;

    // ส่งคำขอลบไปยังเซิร์ฟเวอร์
    fetch('/deleteanimal/' + animalCode, {
        method: 'post'
    })
    .then(response => {
        if (response.ok) {
            // ถ้าลบสำเร็จ โหลดหน้าใหม่หรือทำสิ่งที่คุณต้องการ
            window.location.reload();
        } else {
            alert('เกิดข้อผิดพลาดในการลบสัตว์');
        }
    })
    .catch(error => {
        console.error('เกิดข้อผิดพลาดในการส่งคำขอ: ', error);
    });
        }
    });

</script>
</body>
</html>