<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
    <link rel="stylesheet" href="/frontend/style/product.css">
</head>
<body>
    <!-- ปก product -->
    <img class="head_product" src="/frontend/src/img/group 99.png">

    <!-- menubar -->
    <div class="menubar">
        
        <!-- menu left -->
        <a href="/home" class="home_menu menu_font">Home</a>
        <a href="/product" class="product_menu menu_font">Products</a>
        <a href="/farm" class="farm_menu menu_font">Farms</a>
  
        <!-- logo -->
        <div class="website_logo">
          <div class="logo_text menu_font">Farm Site</div>
          <img class="logo" src="/frontend/src/img/farm.png" />
        </div>
  
        <!-- menu right -->
        <a href="/logout" class="logout_menu menu_font">log out</a>
        <img class="line" src="/frontend/src/svg/line-1.svg" />
        <a href="/user-profile">
            <img class="profile-user-menu" src="/frontend/src/img/profile-user.png" />
        </a>
    </div>


    <!-- search -->
    <div class="search">
        <div class="seach_text">Product</div>
        <input type="text" placeholder="search product here" class="search_box">
        <button class="search_button">search</button>
    </div>

    <!-- catagory -->
    <div class="catagory_text">catagory</div>

    <div class="catagory">
      <div class="catagory_group">
        <img class="group_pic" src="/frontend/src/img/cow 1.png" />
        <div class="group_text">cow</div>
      </div>

      <div class="catagory_group">
        <img class="group_pic" src="/frontend/src/img/pig 1.png" />
        <div class="group_text">pig</div>
      </div>

      <div class="catagory_group">
        <img class="group_pic" src="/frontend/src/img/chicken 1.png" />
        <div class="group_text">chicken</div>
      </div>
      
      <div class="catagory_group">
        <img class="group_pic" src="/frontend/src/img/duck 1.png" />
        <div class="group_text">duck</div>
      </div>

      <div class="catagory_group">
        <img class="group_pic" src="/frontend/src/img/goose.png" />
        <div class="group_text">goose</div>
      </div>

      <div class="catagory_group">
        <img class="group_pic" src="/frontend/src/img/goat 1.png" />
        <div class="group_text">goat</div>
      </div>

      <div class="catagory_group">
        <img class="group_pic" src="/frontend/src/img/ewe 1.png" />
        <div class="group_text">sheep</div>
      </div>

      <div class="catagory_group">
        <img class="group_pic" src="/frontend/src/img/horse.png" />
        <div class="group_text">horse</div>
      </div>

      <div class="catagory_group">
        <img class="group_pic" src="/frontend/src/img/fish 1.png" />
        <div class="group_text">seafood</div>
      </div>

    </div>


    <div class="product_section">
        <!-- อันนี้คือกรอบสินค้า เวลาจะเพิ่มก็เพิ่มทั้งกล่อง-->
        {% for product in products %}
        {% if product.quantity != 0 %}
        {% if product.product_status != "soldout" %}
        <div class="product_box" onclick="showProductDetail('{{ product.product_name }}', '{{ product.product_code }}', '{{ product.product_detail }}', '{{ product.product_price }}', '{{ product.quantity }}', '{{ product.product_status }}', '{{product.farm_id.farm_name}}', '{{product.farm_id.farm_id}}', '{{user_info.user_ID}}')">
          <div class="product_img">
              <!-- ใส่รูปตรงนี้ -->
              
              <img class="img" src='/get-product-image/{{ product.product_code }}' />
          </div>
          <div class="product_information">
              <!-- ใส่ชื่อสินค้า -->
              <div class="product_name">{{product.product_name}}</div>
              <!-- ใส่ฟาร์ม -->
              <div class="product_farm">{{product.farm_id.farm_name}}</div>
              <!-- ใส่ราคา-->
              <div class="cost">{{product.product_price}} บาท</div>
          </div>
      </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>

    {% if products == [] %}
    <!-- อันนี้คือ ยังไม่มีสินค้า ใส่ visibility: hidden; ในcss อยู่จะได้ปิดการมองเห็น-->
    <div class="product_none">
        <div class="no">There are no product</div>
        <div class="ellipse">
            <img class="searching" src="/frontend/src/img/searching 1.png" />
        </div>
    </div>
    {% endif %}

    <!-- กดสินค้า แล้วจะขึ้นจอข้อมูล -->
    <div id="showdetail" class="product_detail">
      <form id="addorder">
      <!-- กดปิดหน้า -->
      <button type="button" id="close" class="close">X</button>
      
      <!-- ใส่รูป -->
      <div class="box">
        <img id="image" src="">
      </div>

      <!-- ชื่อสินค้า -->
      <div id="proname" class="name"></div>
      <!-- ชื่อฟาร์ม ลิงค์ไปหน้า ฟาร์มได้-->
      <a id="farmpro" class="farm_name" href=""></a>
      <!-- detailสินค้า-->
      <div id="prodetail" class="detail"></div>
      <!-- ราคา -->
      <div id="proprice" class="bath"></div>
      <input type="hidden" id="productcodes" name="productcodes">
      <input type="hidden" id="farmids" name="farmids">
      <input type="hidden" id="usersids" name="usersids">

      <!-- จำนวนสินค้า -->
      <div class="quantity">
        <!-- ลดจำนวน ลดน้อยกว่า 1 -->
        <button id="delval" type="button" class="add">-</button>
        <div id="many" class="many">1</div>
        <!-- เพิ่มจำนวน ห้ามมากกว่าสินค้าที่มี -->
        <button id="addval" type="button" class="add">+</button>
      </div>

      <!-- สั่งของได้ -->
      <button class="can_order_button">สั่งซื้อ</button>

      </form>

    </div>

</body>
<script>
  const showdetail = document.getElementById('showdetail')
  const close = document.getElementById("close");
  const many = document.getElementById("many");
  const addButton = document.getElementById("addval");
  const minusButton = document.getElementById("delval");
  const addorder = document.getElementById("addorder");
    // รายการค่าสำหรับจำนวนสินค้า
  let quantity = 1;

    // เพิ่มจำนวนสินค้าเมื่อคลิกปุ่ม "เพิ่ม"
  addButton.addEventListener("click", () => {
        quantity++;
        updateQuantityDisplay();
    });

    // ลดจำนวนสินค้าเมื่อคลิกปุ่ม "ลด" แต่ไม่ให้ลดน้อยกว่า 1
  minusButton.addEventListener("click", () => {
        if (quantity > 1) {
            quantity--;
            updateQuantityDisplay();
        }
    });

    // อัปเดตการแสดงค่าจำนวนสินค้าใน HTML
  function updateQuantityDisplay() {
        many.textContent = quantity;
    }


  function showProductDetail(name, code, detail, price, quantity, status, farmname, farmcode, user_id) {
  // Set the content of the product detail section
  // Set other product details here, e.g., farm name, image source, detail, price, quantity, status
    document.getElementById("proname").textContent = name;
    document.getElementById("prodetail").textContent = detail;
    document.getElementById("proprice").textContent = price + " บาท";
    document.getElementById("farmpro").href = "/farmprofile/" + farmcode;
    document.getElementById("farmpro").textContent = farmname + " << click to view";
    document.getElementById("farmids").value = farmcode;
    document.getElementById("usersids").value = user_id;
    document.getElementById("productcodes").value = code;

    var productImageElement = document.getElementById('image');
    productImageElement.src = '/get-product-image/' + code;
  // Show the product detail section
  
  showdetail.style.visibility = "visible";
}

  addorder.addEventListener("submit" , (e) => {
    e.preventDefault();
    const formData = {
      product_name: document.getElementById("proname").textContent,
      quantity: document.getElementById("many").textContent,
      farm_name: document.getElementById("farmpro").textContent,
      productcode: document.getElementById("productcodes").value,
      farmids: document.getElementById("farmids").value,
      usersids: document.getElementById("usersids").value
    }

    fetch('/addorder', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(formData)
    }).then(response => response.json())
    .then(data => {
      if (data.message === 'สินค้าไม่เพียงพอ') {
        alert('สินค้าไม่เพียงพอ, สินค้าที่มีในสต็อก: ' + data.available_quantity);
      } else if (data.message === 'เพิ่มสินค้าสำเร็จ') {
        alert('สั่งซื้อสินค้าสำเร็จ');
        window.location.reload();
      } else {
        alert('สั่งซื้อสินค้าไม่สำเร็จ');
      }
    })
    .catch(error => {
    console.error('เกิดข้อผิดพลาดในการส่งคำขอ: ', error);
    alert('เกิดข้อผิดพลาดในการส่งคำขอ');
  });
  });
  // Close the product detail section
  close.onclick = function() {
    showdetail.style.visibility = "hidden";
  }
</script>
</html>