<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
    <link rel="stylesheet" href="/frontend/style/product.css">
</head>
<body>
    <!-- ปก product -->
    <div class="head_product">
        <img src="/frontend/src/img/group 99.png">
    </div>

    <!-- menubar -->
    <div class="menubar">
        
        <!-- menu left -->
        <a href="/home" class="home_menu menu_font">Home</a>
        <a href="/product" class="product_menu menu_font">Products</a>
        <a href="/farm" class="farm_menu menu_font">Farms</a>
  
        <!-- logo -->
        <div class="website_logo">
          <div class="logo_text menu_font">Farm Site</div>
          <img class="logo" src="/frontend/src/img/farm.png" />
        </div>
  
        <!-- menu right -->
        <a href="/logout" class="logout_menu menu_font">log out</a>
        <img class="line" src="/frontend/src/svg/line-1.svg" />
        <a href="/user-profile">
            <img class="profile-user-menu" src="/frontend/src/img/profile-user.png" />
        </a>
    </div>


    <!-- search -->
    <div class="search">
        <div class="seach_text">Product</div>
        <input type="text" placeholder="search product here" class="search_box">
        <button class="search_button">search</button>
    </div>

    <!-- catagory -->
    <div class="catagory_text">catagory</div>

    <div class="catagory">
      <div class="catagory_group">
        <img class="group_pic" src="/frontend/src/img/cow 1.png" />
        <div class="group_text">cow</div>
      </div>

      <div class="catagory_group">
        <img class="group_pic" src="/frontend/src/img/pig 1.png" />
        <div class="group_text">pig</div>
      </div>

      <div class="catagory_group">
        <img class="group_pic" src="/frontend/src/img/chicken 1.png" />
        <div class="group_text">chicken</div>
      </div>
      
      <div class="catagory_group">
        <img class="group_pic" src="/frontend/src/img/duck 1.png" />
        <div class="group_text">duck</div>
      </div>

      <div class="catagory_group">
        <img class="group_pic" src="/frontend/src/img/goose.png" />
        <div class="group_text">goose</div>
      </div>

      <div class="catagory_group">
        <img class="group_pic" src="/frontend/src/img/goat 1.png" />
        <div class="group_text">goat</div>
      </div>

      <div class="catagory_group">
        <img class="group_pic" src="/frontend/src/img/ewe 1.png" />
        <div class="group_text">sheep</div>
      </div>

      <div class="catagory_group">
        <img class="group_pic" src="/frontend/src/img/horse.png" />
        <div class="group_text">horse</div>
      </div>

      <div class="catagory_group">
        <img class="group_pic" src="/frontend/src/img/fish 1.png" />
        <div class="group_text">seafood</div>
      </div>

    </div>


    <div class="product_section">
        <!-- อันนี้คือกรอบสินค้า เวลาจะเพิ่มก็เพิ่มทั้งกล่อง-->
        {% for product in products %}
        <div class="product_box">
          <div class="product_img">
              <!-- ใส่รูปตรงนี้ -->
              
              <img class="img" src='/get-product-image/{{ product.product_code }}' />
          </div>
          <div class="product_information">
              <!-- ใส่ชื่อสินค้า -->
              <div class="product_name">{{product.product_name}}.</div>
              <!-- ใส่ฟาร์ม -->
              <div class="product_farm">{{product.farm_id.farm_name}}</div>
              <!-- ใส่ราคา-->
              <div class="cost">{{product.product_price}} บาท</div>
          </div>
      </div>
      {% endfor %}
    </div>

    {% if products == [] %}
    <!-- อันนี้คือ ยังไม่มีสินค้า ใส่ visibility: hidden; ในcss อยู่จะได้ปิดการมองเห็น-->
    <div class="product_none">
        <div class="no">There are no product</div>
        <div class="ellipse">
            <img class="searching" src="/frontend/src/img/searching 1.png" />
        </div>
    </div>
    {% endif %}

    <!-- กดสินค้า แล้วจะขึ้นจอข้อมูล -->
    <div class="product_detail">

      <!-- กดปิดหน้า -->
      <button class="close">X</button>
      
      <!-- ใส่รูป -->
      <div class="box">
        <img src="img/chick.png">
      </div>

      <!-- ชื่อสินค้า -->
      <div class="name">ปีกไก่ 1 แพค</div>
      <!-- ชื่อฟาร์ม ลิงค์ไปหน้า ฟาร์มได้-->
      <a class="farm_name" href="#">chick chick farm << click to view</a>
      <!-- detailสินค้า-->
      <div class="detail">เนื้อไก่ หอมมัน หวาน แน่นๆ เหมาะสำหรับคนรักสุขภาพ</div>
      <!-- ราคา -->
      <div class="bath"> 200 บาท</div>

      <!-- จำนวนสินค้า -->
      <div class="quantity">
        <!-- ลดจำนวน ลดน้อยกว่า 1 -->
        <button class="add">-</button>
        <div class="many">1</div>
        <!-- เพิ่มจำนวน ห้ามมากกว่าสินค้าที่มี -->
        <button class="add">+</button>
      </div>

      <!-- สั่งของได้ -->
      <button class="can_order_button">สั่งซื้อ</button>

      <!-- สั่งของไม่ได้ -->
      <button class="cant_order_button">สั่งซื้อ</button>
      <!-- บอกว่าสินค้าหมด -->
      <div class="soldout">สินค้าหมด</div>

    </div>

</body>
</html>