<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/frontend/style/profile_edit.css" />
  <style>
  #saveButton {
    display: none; /* กำหนดให้ปุ่มซ่อนเริ่มต้น */
  }
  .save_profile_button {
    position: absolute;
    top: 750px;
    right: 88px;
    width: 150px;
    height: 55px;
    background-color: #fb612f;
    border-radius: 33.5px;
  }
  
  .save_profile_button_font {
    position: absolute;
    width: 150px;
    height: 27px;
    top: 17px;
    left: 0;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }

  </style>
  </head>
  <body>
    <!-- แถบข้างหลือง -->
    <div class="yellow_bar">
        <!-- แสดงprofile -->
        <img class="profile-user" src="/frontend/src/img/profile-user.png" />
        <div class="profile_firstname profile_font">{{user_info.firstName}}</div>
        <div class="profile_lastname profile_font">{{user_info.lastName}}</div>
        <div class="profile_role">role : {{user_info.role}}</div>

        <!-- กดเพื่อไปหน้าแก้ไขข้อมูลProfile -->
        <div id="pageEditProfile" class="edit profile_edit">
            <div class="yellow_text yellow_menu_font">Profile</div>
        </div>

        <!-- กดเพื่อไปหน้าแก้ไขรหัสผ่าน -->
        <div id="pageEditPassword" class="edit password_edit">
            <div class="yellow_text yellow_menu_font">Password</div>
        </div>

        <!-- กดเพื่อไปหน้าแก้ไขOrder -->
        <div id="pageEditOrder" class="edit my_orders">
            <div class="yellow_text yellow_menu_font">My Orders</div>
        </div> 

        <!-- ลบ account -->
        <button id="deleteAccount" class="delete_button">
            <div class="delete_button_font">delete account</div>
        </button>
    </div>

    <!-- menubar -->
    <div class="menubar">
        
      <!-- menu left -->
      <a href="/home" class="home_menu menu_font">Home</a>
      <a href="/product" class="product_menu menu_font">Products</a>
      <a href="/farm" class="farm_menu menu_font">Farms</a>

      <!-- logo -->
      <div class="website_logo">
        <div class="logo_text menu_font">Farm Site</div>
        <img class="logo" src="/frontend/src/img/farm.png" />
      </div>

      <!-- menu right -->
      <a href="/logout" class="logout_menu menu_font">log out</a>
      <img class="line" src="/frontend/src/svg/line-1.svg" />
      
      <a href="/user-profile">
          <img class="profile-user-menu" src="/frontend/src/img/profile-user.png" />
      </a>
    </div>

    <a href="/user-profile">
      <!-- หน้าขวา -->
      <div id="profile">
        <div class="profile_head">Profile</div>
    </a>
      
      <form id="updateForm">
        <!-- ตอนนี้ก็คือ เหมือนแค่โชว์ข้อมูลเช่ยๆ ยังแก้ไม่ได้ <input> <select> เป็น diasble-->
        <!-- แต่ถ้ากดปุ่ม edit profile <input> <select> ก็จะเอา diasble ออก จะได้แก้ไขได้  -->
        <div class="profile">

          <div class="box">
            <div>
              <div class="head_group_font">First Name</div>
                <input id="firstname" type="text" value="{{user_info.firstName}}" class="group group_font" disabled>
            </div>
            <div>
              <div class="head_group_font">Last Name</div>
                <input id="lastname" type="text" value="{{user_info.lastName}}" class="group group_font" disabled>
            </div>
          </div>

          <div class="box">
            <div>
              <div class="head_group_font">Phone Number</div>
                <input id="phone" type="text" value="{{user_info.phone}}" class="group group_font" disabled>
            </div>
            <div>
              <div class="head_group_font">Email</div>
              <input id="email" type="text" value="{{user_info.email}}" class="group group_font" disabled>
            </div>
          </div>

          <div class="box">
            <div>
              <div class="head_group_font">role</div>
              <select class="group group_font" disabled>
                <option value="{{user_info.role}}" selected>{{user_info.role}}</option>
              </select>
            </div>
            <div>
              <div class="head_group_font">gender</div>
              <select id="gender" class="group group_font" disabled>
                <option value="{{user_info.gender}}" selected>{{user_info.gender}}</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>

          <div>
            <div class="head_group_font">Address</div>
            <input id="address" type="text" value="{{user_info.location.address}}" class="group2 group_font" disabled>
          </div>

          <div class="box">
            <div>
              <div class="head_group_font">City</div>
              <input id="city" type="text" value="{{user_info.location.city}}" class="group group_font" disabled>
            </div>
            <div>
              <div class="head_group_font">Country</div>
              <input id="country" type="text" value="{{user_info.country.country_name}}" class="group group_font" disabled>
            </div>
          </div>

          <div class="box">
            <div>
              <div class="head_group_font">Region</div>
              <select id="region" class="group group_font" disabled>
                <option value="{{user_info.region.region_name}}" selected>{{user_info.region.region_name}}</option>
                <option value="Asia" >Asia</option>
                <option value="Europe" >Europe</option>
                <option value="Australia" >Australia</option>
                <option value="North America" >North America</option>
                <option value="South America" >South America</option>
                <option value="Africa" >Africa</option>
                <option value="Antarctica" >Antarctica</option>
              </select>
            </div>
            <div>
              <div class="head_group_font">Zip</div>
              <input id="zip" type="text" value="{{user_info.location.zip}}" class="group group_font" disabled>
            </div>
          </div>
        </div>

        <!-- ปุ่มแก้ไขข้อมูล -->
        <button type="button" id="editButton" class="edit_profile_button">
          <div class="edit_profile_button_font">edit profile</div>
        </button>
        
        <button type="submit" id="saveButton" class="save_profile_button">
        <div class="save_profile_button_font">Save</div>
        </button>

      </div>
      <input type="hidden" id="user_id" name="user_id" value="{{user_info.user_ID}}">
    </form>

    <!-- หน้า password -->
    <form id="updatePass">
    <div id="password">
      <div class="password_head">Change Password</div>
      <div class="password">
        <div>
          <div class="head_group_font">Old Password</div>
          <input type="password" id="oldPassword" type="text" class="group2 group_font" required>
        </div>
        <div>
          <div class="head_group_font">New Password</div>
          <input type="password" id="newPassword" type="text" class="group2 group_font" required>
        </div>
      </div>

      <!-- ปุ่มแก้ไขข้อมูล -->
      <button id="changeButton" type="submit" class="change_password_button">
        <div class="change_password_button_font">change password</div>
      </button>
    </div>
    <input type="hidden" id="user_id" name="user_id" value="{{user_info.user_ID}}">
    </form>

    <!-- หน้า my orders -->
    <div id="myorders">
      <div class="profile_head">My Orders</div>
      <div class="profile">
        <table class="bordered-table">
          <thead>
            <tr>
              <th>order_id</th>
              <th>product_name</th>
              <th>farm_name</th>
              <th>quantity</th> <!-- order_quantity-->
              <th>cost</th> <!-- price * order_quantity-->
              <th>order_date</th>
              <th>order_status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for order in orders %}
              {% if order.user_id.user_ID == user_info.user_ID %}
                        <tr>
                            <td>{{ order.order_id }}</td>
                            <td>{{ order.product_code.product_name }}</td>
                            <td>{{ order.farm_id.farm_name }}</td>
                            <td>{{ order.order_quantity }}</td>
                            <td>{{ order.order_quantity * order.product_code. product_price }}</td>
                            <td>{{ order.order_date }}</td>
                            <td>{{ order.order_status }}</td>
                        </tr>
                    {% endif %}
                    {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <form id="delete" method="GET" action="/delete-user/{{user_info.user_ID}}" >
      <!-- ถ้ากด delete account จะขึ้น (ตอนนี้ visibility : hidden อยู่) -->
      <div class="delete_box">
          <p class="delete_box_text">You are sure to delete account</p>
          <img class="trash" src="/frontend/src/img/Trash.png" />

          <-- ถ้ากด ก็จะลบข้อมูลออกจากดาต้าเบส แล้วกลับไปที่หน้า login -->
          <button id="del" class="del btn">
              <div type="submit" class="del_font btn_font">Yes</div>
          </button>

          <!-- ถ้ากด กล่อง delete box ก็จะหายไป -->
          <button type="button" id="cancel" class="cancel btn">
              <div class="cancel_font btn_font">Cancel</div>
          </button>
      </div>
    </form>


  </body>
<script>
  // เรียกใช้งาน element ปุ่มแก้ไขข้อมูล
  const editButton = document.getElementById("editButton");
  const saveButton = document.getElementById('saveButton');
  const updateForm = document.getElementById('updateForm');
  const editProfile = document.getElementById("pageEditProfile");
  const editPassword = document.getElementById("pageEditPassword");
  const editOrder = document.getElementById("pageEditOrder");
  const deleteAccount = document.getElementById("deleteAccount");
  const changeButton = document.getElementById("changeButton");
  const updatePass = document.getElementById("updatePass");
  const cancel = document.getElementById("cancel");

  deleteAccount.addEventListener("click", function() {
    // ให้แสดงหน้าแก้ไขข้อมูล
    document.querySelector(".delete_box").style.visibility = "visible";
  });

  cancel.addEventListener("click", function() {
    // ให้แสดงหน้าแก้ไขข้อมูล
    document.querySelector(".delete_box").style.visibility = "hidden";
    return;
  });

  // เมื่อคลิกปุ่ม "edit profile"
  editProfile.addEventListener("click", function() {
    // ให้แสดงหน้าแก้ไขข้อมูล
    document.getElementById("profile").style.visibility = "visible";
    document.getElementById("password").style.visibility = "hidden";
    document.getElementById("myorders").style.visibility = "hidden";
    editProfile.style.backgroundColor = "#faa19d";
    editPassword.style.backgroundColor = null;
    editOrder.style.backgroundColor = null;

  });
  editPassword.addEventListener("click", function() {
    // ให้แสดงหน้าแก้ไขรหัสผ่าน
    document.getElementById("profile").style.visibility = "hidden";
    document.getElementById("password").style.visibility = "visible";
    document.getElementById("myorders").style.visibility = "hidden";
    editProfile.style.backgroundColor = null;
    editPassword.style.backgroundColor = "#faa19d";
    editOrder.style.backgroundColor = null;
  });
  editOrder.addEventListener("click", function() {
    // ให้แสดงหน้าแก้ไขOrder
    document.getElementById("profile").style.visibility = "hidden";
    document.getElementById("password").style.visibility = "hidden";
    document.getElementById("myorders").style.visibility = "visible";
    editProfile.style.backgroundColor = null;
    editPassword.style.backgroundColor = null;
    editOrder.style.backgroundColor = "#faa19d";
  });

  function toggleButtons() {
    if (editButton.style.display !== 'none') {
      editButton.style.display = 'none';
      saveButton.style.display = 'block';
    } else {
      editButton.style.display = 'block';
      saveButton.style.display = 'none';
    }
  }

  function checkEmail(email) {

    var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
    function capitalizeFirstLetter(value) {
        return value.charAt(0).toUpperCase() + value.slice(1).toLowerCase();
    }

    if (emailPattern.test(email)) {
        return true;
    } else {
        return false;
    }
    }

  // เมื่อคลิกปุ่ม "edit profile"
  editButton.addEventListener("click", function() {
    // ให้หา element ทุกตัวที่มี class "group" และ "group_font" แล้วยกเลิกสถานะ disabled
    const inputElements = document.querySelectorAll(".group");
    const selectElements = document.querySelectorAll(".group_font");

    inputElements.forEach(function(input) {
      input.removeAttribute("disabled");
    });

    selectElements.forEach(function(select) {
      select.removeAttribute("disabled");
    });
    toggleButtons()
    // เมื่อแก้ไขเสร็จแล้วสามารถเพิ่มโค้ดเพิ่มเติมเพื่อปิดการแก้ไขอีกครั้ง
  });

  updateForm.addEventListener('submit', function(e) {
    e.preventDefault();
    const formData = {
      firstname: document.getElementById('firstname').value,
      lastname: document.getElementById('lastname').value,
      phone: document.getElementById('phone').value,
      email: document.getElementById('email').value,
      country: document.getElementById('country').value,
      region: document.getElementById('region').value,
      city: document.getElementById('city').value,
      gender: document.getElementById('gender').value,
      address: document.getElementById('address').value,
      zip: document.getElementById('zip').value,
      user_id: document.getElementById('user_id').value
    }
    if(formData["phone"].length != 10 || isNaN(formData["phone"])){
      alert("กรุณากรอกเบอร์โทรศัพท์ให้ครบ 10 หลัก");
      window.location.reload();
    }
    if(formData["zip"].length != 5 || isNaN(formData["zip"])){
      alert("กรุณากรอกรหัสไปรษณีย์ให้ครบ 5 หลัก");
      window.location.reload();
    }
    if(!formData["email"].includes("@") || checkEmail(formData["email"]) === false){
      alert("กรุณากรอกอีเมล");
      window.location.reload();
    }

    fetch('/update_data', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(formData)
    }).then(response => response.json())
    .then(data => {
      alert(data.message);
      if (data.message === 'อัปเดตข้อมูลผู้ใช้สำเร็จ') {
        window.location.reload();
      }
       else {
        alert('Update failed')
      }
    })
    .catch(err => {
      console.error(err)
    });
  });
  
  updatePass.addEventListener('submit', function(e) {
    e.preventDefault();
    const formData = {
      user_id: document.getElementById('user_id').value,
      oldPassword: document.getElementById('oldPassword').value,
      newPassword: document.getElementById('newPassword').value
    }
    if(formData["oldPassword"].length < 8 || formData["newPassword"].length < 8){
      alert("กรุณากรอกรหัสผ่านให้มีความยาวมากกว่า 8 ตัวอักษร");
      return;
    }
    
    fetch('/update_password', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(formData)
    }).then(response => response.json())
    .then(data => {
      alert(data.message);
      if (data.message === 'อัปเดตรหัสผ่านสำเร็จ') {
        window.location.reload();
      }
      else if (data.message === 'รหัสผ่านเดิมไม่ถูกต้อง') {
        alert('รหัสผ่านเดิมไม่ถูกต้อง')
      }
      else {
        alert('Update failed')
      }
    })
    .catch(err => {
      console.error(err)
    });
  });

  saveButton.addEventListener("click", function() {
    // ให้หา element ทุกตัวที่มี class "group" และ "group_font" แล้วยกเลิกสถานะ disabled
    const inputElements = document.querySelectorAll(".group");
    const selectElements = document.querySelectorAll(".group_font");
    

    inputElements.forEach(function(input) {
      input.setAttribute("disabled", "true");
    });

    selectElements.forEach(function(select) {
      select.setAttribute("disabled", "true");
    });
    toggleButtons()
    // เมื่อแก้ไขเสร็จแล้วสามารถเพิ่มโค้ดเพิ่มเติมเพื่อปิดการแก้ไขอีกครั้ง
  });
  
</script>
</html>
